<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>roll_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,69}</string>
                <key>spriteSourceSize</key>
                <string>{111,69}</string>
                <key>textureRect</key>
                <string>{{1,798},{111,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roll_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,111}</string>
                <key>spriteSourceSize</key>
                <string>{103,111}</string>
                <key>textureRect</key>
                <string>{{1,693},{103,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>roll_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,111}</string>
                <key>spriteSourceSize</key>
                <string>{103,111}</string>
                <key>textureRect</key>
                <string>{{114,727},{103,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>roll_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,101}</string>
                <key>spriteSourceSize</key>
                <string>{100,101}</string>
                <key>textureRect</key>
                <string>{{114,832},{100,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roll_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,83}</string>
                <key>spriteSourceSize</key>
                <string>{115,83}</string>
                <key>textureRect</key>
                <string>{{1,298},{115,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roll_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,118}</string>
                <key>spriteSourceSize</key>
                <string>{126,118}</string>
                <key>textureRect</key>
                <string>{{1,74},{126,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roll_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,104}</string>
                <key>spriteSourceSize</key>
                <string>{116,104}</string>
                <key>textureRect</key>
                <string>{{120,207},{116,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,103}</string>
                <key>spriteSourceSize</key>
                <string>{112,103}</string>
                <key>textureRect</key>
                <string>{{1,486},{112,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,100}</string>
                <key>spriteSourceSize</key>
                <string>{112,100}</string>
                <key>textureRect</key>
                <string>{{1,591},{112,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,102}</string>
                <key>spriteSourceSize</key>
                <string>{112,102}</string>
                <key>textureRect</key>
                <string>{{115,518},{112,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,103}</string>
                <key>spriteSourceSize</key>
                <string>{107,103}</string>
                <key>textureRect</key>
                <string>{{131,1},{107,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,99}</string>
                <key>spriteSourceSize</key>
                <string>{107,99}</string>
                <key>textureRect</key>
                <string>{{129,106},{107,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,102}</string>
                <key>spriteSourceSize</key>
                <string>{117,102}</string>
                <key>textureRect</key>
                <string>{{1,194},{117,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,103}</string>
                <key>spriteSourceSize</key>
                <string>{114,103}</string>
                <key>textureRect</key>
                <string>{{118,313},{114,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,101}</string>
                <key>spriteSourceSize</key>
                <string>{114,101}</string>
                <key>textureRect</key>
                <string>{{1,383},{114,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,103}</string>
                <key>spriteSourceSize</key>
                <string>{111,103}</string>
                <key>textureRect</key>
                <string>{{115,622},{111,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,98}</string>
                <key>spriteSourceSize</key>
                <string>{113,98}</string>
                <key>textureRect</key>
                <string>{{117,418},{113,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slip_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,90}</string>
                <key>spriteSourceSize</key>
                <string>{84,90}</string>
                <key>textureRect</key>
                <string>{{1,869},{84,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slip_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,71}</string>
                <key>spriteSourceSize</key>
                <string>{128,71}</string>
                <key>textureRect</key>
                <string>{{1,1},{128,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Hero0.png</string>
            <key>size</key>
            <string>{239,954}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e21064edf247e004119eb230ac8718bf:6a0f1f810c9075b4cd3668d7d99570fa:35de6a0bf78e748da6b8bfa453d55429$</string>
            <key>textureFileName</key>
            <string>Hero0.png</string>
        </dict>
    </dict>
</plist>
