<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{241,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,71}}</string>
                <key>sourceSize</key>
                <string>{241,71}</string>
            </dict>
            <key>01_03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,2},{12,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,71}}</string>
                <key>sourceSize</key>
                <string>{12,71}</string>
            </dict>
            <key>01_05_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,418},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>01_07_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,405},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>01_09_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,653},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>01_10_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,611},{27,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>sourceSize</key>
                <string>{27,40}</string>
            </dict>
            <key>01_12_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,358},{86,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,87}}</string>
                <key>sourceSize</key>
                <string>{86,87}</string>
            </dict>
            <key>01_13_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,450},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>01_14_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,311},{47,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,42}}</string>
                <key>sourceSize</key>
                <string>{47,42}</string>
            </dict>
            <key>01_15_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,413},{52,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,50}}</string>
                <key>sourceSize</key>
                <string>{52,50}</string>
            </dict>
            <key>01_28_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,355},{56,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,50}}</string>
                <key>sourceSize</key>
                <string>{56,50}</string>
            </dict>
            <key>01_29_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,517},{125,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,102}}</string>
                <key>sourceSize</key>
                <string>{125,102}</string>
            </dict>
            <key>01_31_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,368},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>01_32_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,217},{56,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,66}}</string>
                <key>sourceSize</key>
                <string>{56,66}</string>
            </dict>
            <key>01_34_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,360},{42,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,43}}</string>
                <key>sourceSize</key>
                <string>{42,43}</string>
            </dict>
            <key>01_35_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,227},{139,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,114}}</string>
                <key>sourceSize</key>
                <string>{139,114}</string>
            </dict>
            <key>01_39_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,143},{139,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,114}}</string>
                <key>sourceSize</key>
                <string>{139,114}</string>
            </dict>
            <key>GameUI01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{316,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,114}}</string>
                <key>sourceSize</key>
                <string>{316,114}</string>
            </dict>
            <key>GameUI02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{432,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,139}}</string>
                <key>sourceSize</key>
                <string>{432,139}</string>
            </dict>
            <key>GameUI03.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,107},{316,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,118}}</string>
                <key>sourceSize</key>
                <string>{316,118}</string>
            </dict>
            <key>GameUI04.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,611},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>GameUI05.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,227},{200,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,126}}</string>
                <key>sourceSize</key>
                <string>{200,126}</string>
            </dict>
            <key>GameUI06.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,481},{107,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,127}}</string>
                <key>sourceSize</key>
                <string>{107,127}</string>
            </dict>
            <key>GameUI07.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,183},{200,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,126}}</string>
                <key>sourceSize</key>
                <string>{200,126}</string>
            </dict>
            <key>GameUI08.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,502},{107,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,128}}</string>
                <key>sourceSize</key>
                <string>{107,128}</string>
            </dict>
            <key>GameUI09.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,275},{180,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,60}}</string>
                <key>sourceSize</key>
                <string>{180,60}</string>
            </dict>
            <key>GameUI10.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,467},{88,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,49}}</string>
                <key>sourceSize</key>
                <string>{88,49}</string>
            </dict>
            <key>GameUI11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{87,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,49}}</string>
                <key>sourceSize</key>
                <string>{87,49}</string>
            </dict>
            <key>GameUI12.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,399},{71,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,38}}</string>
                <key>sourceSize</key>
                <string>{71,38}</string>
            </dict>
            <key>GameUI13.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,358},{71,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,39}}</string>
                <key>sourceSize</key>
                <string>{71,39}</string>
            </dict>
            <key>GameUI14.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,439},{70,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,38}}</string>
                <key>sourceSize</key>
                <string>{70,38}</string>
            </dict>
            <key>GameUI15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,2},{2,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,47}}</string>
                <key>sourceSize</key>
                <string>{2,47}</string>
            </dict>
            <key>GameUI16.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,75},{212,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,106}}</string>
                <key>sourceSize</key>
                <string>{212,106}</string>
            </dict>
            <key>GameUI17.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{324,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,103}}</string>
                <key>sourceSize</key>
                <string>{324,103}</string>
            </dict>
            <key>GameUI18.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,413},{52,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,50}}</string>
                <key>sourceSize</key>
                <string>{52,50}</string>
            </dict>
            <key>GameUI19.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,217},{56,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,66}}</string>
                <key>sourceSize</key>
                <string>{56,66}</string>
            </dict>
            <key>GameUI20.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,457},{43,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,59}}</string>
                <key>sourceSize</key>
                <string>{43,59}</string>
            </dict>
            <key>GameUI21.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,355},{56,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,50}}</string>
                <key>sourceSize</key>
                <string>{56,50}</string>
            </dict>
            <key>hero_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,467},{141,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,48}}</string>
                <key>sourceSize</key>
                <string>{141,48}</string>
            </dict>
            <key>hero_03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,75},{140,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,44}}</string>
                <key>sourceSize</key>
                <string>{140,44}</string>
            </dict>
            <key>hero_04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,284},{140,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,50}}</string>
                <key>sourceSize</key>
                <string>{140,50}</string>
            </dict>
            <key>queding_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{290,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,97}}</string>
                <key>sourceSize</key>
                <string>{290,97}</string>
            </dict>
            <key>slice01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,311},{156,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,154}}</string>
                <key>sourceSize</key>
                <string>{156,154}</string>
            </dict>
            <key>slice02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,355},{150,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,155}}</string>
                <key>sourceSize</key>
                <string>{150,155}</string>
            </dict>
            <key>slice03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,2},{12,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,71}}</string>
                <key>sourceSize</key>
                <string>{12,71}</string>
            </dict>
            <key>slice04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,502},{107,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,128}}</string>
                <key>sourceSize</key>
                <string>{107,128}</string>
            </dict>
            <key>slice23_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{83,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,97}}</string>
                <key>sourceSize</key>
                <string>{83,97}</string>
            </dict>
            <key>slice34_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,336},{133,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,80}}</string>
                <key>sourceSize</key>
                <string>{133,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameUI.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c91a3a83bb0f0232263a664b95fbeac$</string>
            <key>textureFileName</key>
            <string>GameUI.png</string>
        </dict>
    </dict>
</plist>
