<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,360}}</string>
                <key>sourceSize</key>
                <string>{256,360}</string>
            </dict>
            <key>hero_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{33,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,29}}</string>
                <key>sourceSize</key>
                <string>{33,29}</string>
            </dict>
            <key>hero_03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,470},{28,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,23}}</string>
                <key>sourceSize</key>
                <string>{28,23}</string>
            </dict>
            <key>hero_04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{33,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,36}}</string>
                <key>sourceSize</key>
                <string>{33,36}</string>
            </dict>
            <key>hero_05_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{31,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,26}}</string>
                <key>sourceSize</key>
                <string>{31,26}</string>
            </dict>
            <key>hero_06_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{31,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,14}}</string>
                <key>sourceSize</key>
                <string>{31,14}</string>
            </dict>
            <key>hero_07_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,470},{31,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,8}}</string>
                <key>sourceSize</key>
                <string>{31,8}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Hero03.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfa09cf0ad1285708aa1bcec2123f3bd$</string>
            <key>textureFileName</key>
            <string>Hero03.png</string>
        </dict>
    </dict>
</plist>
